body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
}

.App th,
.App td {
  border: 2px solid grey;
}

.App tr:not(.bg-green) td,
.App tr:not(.bg-red) td {
  background-color: orange;
}

.App tr.bg-green td {
  background-color: green;
}

.App tr.bg-red td {
  background-color: red;
}
